swagger: '2.0'
info:
  version: '0.0.1'
  title: RBKmoney Fraudbusters Resource API
  description: >

    RBKmoney Fraudbusters Resource API служит для управления сервисом antifraud.

  termsOfService: http://rbk.money/
  contact:
    name: RBKmoney support team
    email: support@rbk.money
    url: https://rbk.money
host: api.rbk.money
basePath: /fraudbusters/v0
schemes:
  - https
consumes:
  - application/json; charset=utf-8
produces:
  - application/json; charset=utf-8
securityDefinitions:
  bearer:
    type: apiKey
    name: Authorization
    in: header
    description: >
      Для аутентификации вызовов мы используем [JWT](https://jwt.io).
      Cоответствующий ключ передается в заголовке.

      ```shell
       Authorization: Bearer {TOKENIZATION|PRIVATE_JWT}
      ```

security:
  - bearer: []

responses:

  NotFound:
    description: Искомая сущность не найдена

  BadRequest:
    description: Недопустимые для операции входные данные
    schema:
      $ref: '#/definitions/BadRequest'

parameters:

  id:
    name: id
    in: header
    description: Уникальный идентификатор
    required: true
    type: string
    maxLength: 32
    minLength: 1

tags:

  - name: Rules Management
    x-displayName: Управление правилами
    description: ""

  - name: Template Management
    x-displayName: Управление шаблонами
    description: ""

  - name: WbList Model
    x-displayName: Управление списками
    description: ""

  - name: Working Model Management
    x-displayName: Управление списками
    description: ""
